venv/
Venv/
libs/__pycache__/encryption.cpython-39.pyc
mods/__pycache__/clearScreen.cpython-39.pyc
mods/__pycache__/menu.cpython-39.pyc
CryptexTools/encryption/__pycache__/base64.cpython-39.pyc
key.key
